<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'blog:index'%}">Ho3a11 Site</a>
      </div>
      <ul class="nav navbar-nav">

        {% if request.user.is_authenticated  %}
       
        <li class="nav-item"><a class="nav-link" href="{% url 'user_account:logout' %}">Logout - {{request.user.username}}</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'user_account:login' %}">login</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'user_account:singup' %}">Singin</a></li>
        {% endif %}

        <li class="active"><a href="{% url 'blog:index'%}">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">

            {% for category in category_list %}
          <li> 
            <a  href="{%url 'article:category'  category=category.title  %}">{{ category.title }}</a> </li>

        {% endfor %}


          </ul>
        </li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="{%url 'blog:about' %}">About Us</a></li>
      </ul>
    </div>
  </nav>
    
  <div class="container">

    {% block body %}
  
    {% endblock body %}

  </div><br>
  {% include "footer.html" %}


</body>


</html>
