
{% extends "base1.html" %}

{% load static %}


{% block slider %}

        {% include "slider.html" %}
     

{% endblock slider %}



{% block article %}

    <div class="col-12 pb-5"><h1> Articles with the highest ratings from users</h1></div>
    <div class="container">
      <div class="row">
          <!-- Main Article -->
          {% if visit %}
          {% for v in voite %}
          <div class="col-md-6 margin-top-30"  >
              
              <h3 class="item-title">
                  {{v.article.title}}
              </h3>
                  <img class="animate fadeInRight animated" style="float: right;" src="{{v.article.image.url}}" alt="responsive screens">
                  <p>{{v.article.snipBody}} <a class="btn  alert-link" style="color:red;" href="{% url 'article:article_detail' slug=v.article.slug %}"> Read more... </a></p>
              <small>voite: {{v.voite}} </small> <br>
                  <small class="item-title">
                    {{v.article.diffNowDate}} days
                </small>
          </div>
          {% endfor %}
          {% endif %}

          <!-- End Main Article -->
      </div>
  </div>



{% endblock article %}

{% block most_view %}

                    <div class="row">
                      <div class="col-md-12 padding-vert-30">
                          <h2 class="subtitle text-center">Articles with the most views from users</h2>

                      </div>
                    </div>
                    <div class="portfolio-group">

                      <!-- Portfolio Item -->
                      {% if visit %}
                      {% for v in visit %}
                        
                      <div class="portfolio-item col-md-3 col-sm-6 col-xs-6 animate fadeInUp">
                          <div class="image-hover">
                              <a href="{% url 'article:article_detail' slug=v.slug %}">
                                  <figure>
                                      <img src="{{v.image.url}}" alt="{{v.image}}">
                                      <figcaption>
                                          <h3>{{v.visit}} views</h3>
                                          <span>{{v.title}}</span>
                                      </figcaption>
                                  </figure>
                              </a>
                          </div>
                      </div>

                      {% endfor %}
                      {% endif %}
                    

                      <!-- //Portfolio Item// -->
                      <div class="clearfix"></div>
                    </div>
  

                 


                      
{% endblock most_view %}



  
  






